version: "3.8"

services:
  app:
    build: .
    ports:
      - "3490:3490"
    env_file:
      - .env
    environment:
      - APP_PORT=3490
      - APP_HOST=0.0.0.0
      - PG_HOST=db
    depends_on:
      db:
        condition: service_healthy

  db:
    image: postgres:15-alpine
    restart: always
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${PG_USER}
      POSTGRES_PASSWORD: ${PG_PASSWORD}
      POSTGRES_DB: ${PG_DATABASE}
    volumes:
      - pg_data:/var/lib/postgresql/data # <--- PERSISTENCE
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${PG_USER} -d ${PG_DATABASE}"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  pg_data:
